.form-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

.form-header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header-text{
    font-size: 1.2em;
    padding-left: 10px;
    border: none;
}