.templates-wrapper{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #eee;
    padding-left: 15%;
    padding-right: 15%;

}

.templates-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
}

.templates-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.option1:hover{
    background-color: #ddd;
}